*.xcodeproj/
build/
Payload/
*.ipa
WifiScan/Info.plist
WifiScan/WifiScan.entitlements
WifiScanTunnel/Info.plist
WifiScanTunnel/WifiScanTunnel.entitlements
Vendor/WireGuardKit/Sources/WireGuardKitGo/.tmp/
Vendor/WireGuardKit/Sources/WireGuardKitGo/out/
NagoTun/target/
